.dashboard_container{
  display: flex;
  
}

.dashboard_left{

width: 60%;
}

.dashboard_right{

width: 40%;
}

.dashboard_right_container{
  display: flex;
  justify-content: center;
  
}

.splash_footer{
  margin-top: 115px;
  height: 95px;
  background-color: black;
}