/* TODO Add site wide styles */
a:visited { text-decoration: none; color:inherit; }
a { text-decoration: none; color:inherit; }

body{
  padding:0;
  margin:0;
}

ul {
  list-style-type: none;
}




.checked {
  color:gold;
  font-size: 20px;
}

.unChecked{

  color: rgba(68, 68, 68, 0.288);
}

.fa,
.fa-star {
font-size: 20px;
}

/* <span class="fa fa-star checked"></span>
<span class="fa fa-star"></span> */