.signup_wrapper {
  display: flex;
  height: calc(var(--rh-fixed-header-height, 100vh) - 64px);
}

/* left side */

.signup_left {
  width: 70%;
  margin-left: 8%;
  margin-right: 8%;
}

.signup_left h1 {
  margin: 0px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.25px;
  padding-top: 30px;
}
.signup_left h2 {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.25px;
}
.signup_left h3 {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.25px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.signup_Body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup_Form_Container {
  display: flex;
  align-items: center;
  padding: 10px;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup_Form {
  padding-left: 0;
  margin-left: 0;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}

.signup_Form input {
  width: 100%;
  height: 30px;
  background-color: rgb(198, 217, 250) ;
}

#signup_Email {
  display: flex;
  padding: 10px;
  margin: 10px 2.5%;
  text-align: center;
}

#signup_firstName {
  display: inline-block;
  padding: 10px 5px;
  margin: 10px;
  width: 45%;
}

#signup_lastName {
  display: inline-block;
  padding: 10px 5px;
  margin: 10px;
  width: 45%;
}

#signup_Username {
  display: flex;
  padding: 10px;
  margin: 10px 2.5%;
  text-align: center;
}

#signup_Password {
  display: inline-block;
  padding: 10px 5px;
  margin: 10px;
  width: 45%;
}

#signup_Confirm_Password {
  display: inline-block;
  padding: 10px 5px;
  margin: 10px;
  width: 45%;
}

.signup_button-container{
  display: flex;
  margin-left: 23.016px;
  padding-left: 10px;
  
}

#signup_Button {
  margin: 0;
  color: white;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  white-space: nowrap;
  padding: 0px 45px;
  height: 48px;
  min-width: 144px;
  border-radius: 8px;
  background-color: rgb(0, 200, 5);
}

.signup_left h4 {
  color: rgb(180, 189, 194);
  font-size: 12.75px;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* right side */

.signup_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: rgb(245, 248, 250);
}

.signup_right ul {
  width: 70%;
}

.signup_right h1 {
  margin: 0px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.25px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.signup_right h2 {
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: -0.25px;
}
