.signup_Body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vw;
  background: url("../../images/login_background.jpg");
}

.signup_Form_Container {
  display: flex;
  align-items: center;
  background-color: rebeccapurple;
  padding: 10px;
  height: fit-content;
  margin-top: 100px;
}

.signup_Form {
  background-color: red;
  border: 3px solid green;
  align-items: center;
  text-align: center;
  height: auto;
  
}

#signup_Email {
  display: flex;
  background-color: green;
  padding: 5px;
  margin: 10px;
  text-align: center;
  
}

#signup_Username {
  display: flex;
  background-color: orange;
  padding: 5px;
  margin: 10px;
}
#signup_firstName {
  display: flex;
  background-color: orange;
  padding: 5px;
  margin: 10px;
}
#signup_lastName {
  display: flex;
  background-color: orange;
  padding: 5px;
  margin: 10px;
}

#signup_Password {
  display: flex;
  background-color: orange;
  padding: 5px;
  margin: 10px;
}

#signup_Confirm_Password {
  display: flex;
  background-color: orange;
  padding: 5px;
  margin: 10px;
}

#signup_Button {
  background-color: blue;
  padding: 8px;
  border-radius: 30px;
  width: 75%;
  margin: 10px;
}