.nav_body {
  background-color: red;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0 30px
}

.nav_links {
  display: flex;
  background-color: royalblue;
  justify-content: space-between;
  width: 100vw;
  height: 30px;
  padding-left: 25px;
  padding-right: 25px;
  list-style-type: none;
}

#nav_home_logo{
 
}

#nav_login-signup{
  display: flex;
  justify-content: flex-end;
  width: 200px;
}

#nav_login-signup a{
  padding-left: 20px;
}

